/* #2E2F42 - navy blue - текст заголовков и ссылок в навигации */
/* #434455 - slate - основной цвет текста */
/* #FFFFFF - белый */
/* #E7E9FC - цвет текста в футере */
/* #4D5AE5 - фон кнопки */
/* #434455; - цвет контактов */
:root {
    --primary-text-color: #434455;
    --primary-header-color: #2E2F42;
    --pressed-state-color: #4D5AE5;
    --primary-background-color: #2E2F42;
}

.page {
    background-color: #FFFFFF;
    color: var(--primary-text-color);
}

.list {
    list-style: none;
}

.section {
    color: var(--primary-header-color);
}

.logo {
    color: #000000
}

.logo>span {
    color:  #4D5AE5;
}

.site-nav .link {
    color: var(--primary-header-color);
}

.site-nav .link:hover, .site-nav .link:focus{
    color: var(--pressed-state-color);
}

.contacts a {
    color: var(--primary-text-color);
}

.hero {
    background-color: var(--primary-background-color);
    color: #FFFFFF;
}

.hero .hero-button {
    background-color: #4D5AE5;
    color: #FFFFFF
}

.Features .features-title {
    color: var(--primary-header-color);
}

.team {
    background-color: #F4F4FD;
}

.page-footer {
    background-color: var(--primary-background-color);
}

.page-footer a {
    color: #E7E9FC;
}

.page-footer>p {
    color: #E7E9FC;
}


/* portfolio css */

.filter {
    background-color: #E7E9FC;
    color: #4D5AE5;
}

.active-button:hover,  .active-button:focus{
    background-color: #404BBF;
    color: #FFFFFF;
}